{{#article}}
<section class="field">
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
            
          <figure class="image is-48x48">
            <img src="https://loremflickr.com/320/240?random={{id}}" />
          </figure>
        </div>
        <div class="media-content">
          <a href="/blogs/{{id}}">
              <p class="title is-4">{{tittle}}</p>
          </a>
              {{!-- <p class="subtitle is-6">{{user.email}} </p>  --}}
        </div>
      </div>

      <div class="content">
        {{content}}
        <br>
      </div>
    </div>
  </div>
</section>
{{/article}}



